<h1>This forcast for: <%= @city["current_observation"]["display_location"]["full"] %></h1>
<%= find_color %>
<%= @temp_diff %>
<%= @preicp %>

<div class="tower <%= find_color %> <%= flash %>"></div>
